.wrapper{
    margin:0 auto;
    text-align: center;
}

.myDiv {
}
#title {
    position: relative;
    z-index: 1;
    top:50px;
    color:#fff;
    
}
.space  {
    width:1500px;
    height:100%;
    position: relative;
    top:-200px;
}
input {
    position: relative;
    z-index: 2;
    top:80px;
    border-radius:5px;
}
button {
    position: relative;
    z-index: 3;
    top:130px;
    right:120px;
}
.secondDiv {
    
}


@media only screen and (max-width: 1000px) {
    .space {
        width:950px;
        height:800px;
    }
}
@media only screen and (max-width:600px) {
    .space {
        width:700px
        height:600px;
    }
}
