@font-face {
    font-family:'moon';
    src:url('../fonts/moon-runner/moonrunner3dital.ttf');
}
.wrapper{
    margin:0 auto;
    text-align: center;
}


#title {
    font-family:'moon';
    font-size:65px;
    position: relative;
    z-index: 1;
    top:-750px;
    color:#fff;
    
}
.space  {
    width:1500px;
    height:800px;
    position: relative;
    
}
input {
    position: relative;
    z-index: 2;
    top:-700px;
    left:20px;
    width:200px;
    border-radius:5px;
}
button {
    position: relative;
    z-index: 3;
    top:-650px;
    right:110px;
    border-radius:5px;
    background-color:green;
}
#newSign {
    position: relative;
    top:-650px;
    right:10px;
    color:#fff;
    font-size:45px;
}

#img {
    width:200px;
    position: relative;
    top:-650px;
    background-color:white;
}
#yourInfo {
    position: relative;
    top:-600px;
    color:#fff;
    font-size:45px;
}

@media only screen and (max-width: 1000px) {
    .space {
        width:950px;
        height:700px;
    }
    #title {
        position: relative;
        top:-650px;
    }
    input {
        position: relative;
        top:-600px;
    }
    button {
        position: relative;
        top:-550px;
    }
    #newSign {
        position: relative;
        top:-550px;
    }
    #img {
        position: relative;
        top:-550px;
    }
    #yourInfo {
        position: relative;
        top:-500px;
    }
}
@media only screen and (max-width:600px) {
    .space {
        width:600px;
        height:1500px;
    }
    
}
